<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Write the logging to file-->
    <target name="LogFile"
            xsi:type="BufferingWrapper"
            slidingTimeout="true"
            bufferSize="100"
            flushTimeout="100">
      <target name="log_file_inner"
              xsi:type="File"
              layout="${longdate} | ${pad:padding=-5:inner=${level:uppercase=true}} | ${message} ${exception}"
              fileName="${basedir}/logs/log.txt"
              keepFileOpen="false"
              encoding="iso-8859-2"
              archiveEvery="Day"
              archiveFileName="${basedir}/logs/log.archive_{#}.txt"
              archiveNumbering="Rolling"
              maxArchiveFiles="7"
              concurrentWrites="true"/>
    </target>

    <!-- <target xsi:type="ColoredConsole" -->
    <!--         name="String" -->
    <!--         encoding="Encoding" -->
    <!--         layout="Layout" -->
    <!--         header="Layout" -->
    <!--         footer="Layout" -->
    <!--         useDefaultRowHighlightingRules="Boolean" -->
    <!--         errorStream="Boolean" -->
    <!--         enableAnsiOutput="Boolean" -->
    <!--         detectConsoleAvailable="Boolean"> -->
    <!--   <highlight-row backgroundColor="Enum" condition="Condition" foregroundColor="Enum"/> -->
    <!--   ~1~ repeated @1@ -->
    <!--   <highlight-word backgroundColor="Enum" foregroundColor="Enum" ignoreCase="Boolean" -->
    <!--                   regex="String" text="String" wholeWords="Boolean" compileRegex="Boolean"/> -->
    <!--   ~1~ repeated @1@ -->
    <!-- </target> -->
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="LogFile" />
    <!-- <logger name="*" minlevel="Trace" writeTo="ColoredConsole" /> -->
  </rules>
</nlog>