<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaFS" version="2.2.6" targetFramework="net471" />
  <package id="ApprovalTests" version="3.0.18" targetFramework="net471" />
  <package id="ApprovalUtilities" version="3.0.18" targetFramework="net471" />
  <package id="Enums.NET" version="2.3.2" targetFramework="net471" />
  <package id="FakeItEasy" version="4.9.1" targetFramework="net471" />
  <package id="FakeItEasy.Analyzer.CSharp" version="4.9.1" targetFramework="net471" />
  <package id="FluentAssertions" version="5.4.2" targetFramework="net471" />
  <package id="JetBrains.Annotations" version="2019.1.1" targetFramework="net471" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net471" />
  <package id="NLog" version="4.5.11" targetFramework="net471" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta009" targetFramework="net471" developmentDependency="true" />
  <package id="System.Data.SqlClient" version="4.5.1" targetFramework="net471" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net471" />
  <package id="System.Management" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net471" />
  <package id="TextCopy" version="1.5.0" targetFramework="net471" />
  <package id="xunit" version="2.4.0" targetFramework="net471" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net471" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net471" />
  <package id="xunit.assert" version="2.4.0" targetFramework="net471" />
  <package id="xunit.core" version="2.4.0" targetFramework="net471" />
  <package id="xunit.extensibility.core" version="2.4.0" targetFramework="net471" />
  <package id="xunit.extensibility.execution" version="2.4.0" targetFramework="net471" />
</packages>