<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="DefaultRootPath" value="D:\Projects\Branches\" />
      <add key="DefaultSearchProviderName" value="Everything" />
      <add key="ConfigFilename" value="TreatmentConfig.json" />
    </appSettings>
</configuration>