<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NlogViewer" />
  </extensions>
  <targets>
    <!-- Write to wpf component -->
    <target xsi:type="NlogViewer" name="LogWpfControl" />

    <!-- Write the logging to file-->
    <target name="LogFile"
            xsi:type="BufferingWrapper"
            slidingTimeout="true"
            bufferSize="100"
            flushTimeout="100">
      <target name="log_file_inner"
              xsi:type="File"
              layout="${longdate} | ${pad:padding=-5:inner=${level:uppercase=true}} | ${logger} ${message} ${exception}"
              fileName="${basedir}/logs/log.txt"
              keepFileOpen="false"
              encoding="iso-8859-2"
              archiveEvery="Day"
              archiveFileName="${basedir}/logs/log.archive_{#}.txt"
              archiveNumbering="Rolling"
              maxArchiveFiles="7"
              concurrentWrites="true"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="LogWpfControl" />
    <logger name="*" minlevel="Trace" writeTo="LogFile" />
  </rules>
</nlog>