<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Enums.NET" version="2.3.1" targetFramework="net471" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net471" />
  <package id="SharpSvn.1.9-x86" version="1.9007.3987.251" targetFramework="net471" />
  <package id="SimpleInjector" version="4.3.0" targetFramework="net471" />
  <package id="SimpleInjector.Packaging" version="4.3.0" targetFramework="net471" />
</packages>